In [22]:
import pandas as pd

In [23]:
# read and analyse csv file
# check for null - none found
BCN_2018= pd.read_excel(".\datasets\BCN_2018.xlsx")
BCN_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 6 columns):
Country               636 non-null object
Unnamed: 1            0 non-null float64
Unnamed: 2            0 non-null float64
Unnamed: 3            0 non-null float64
Number of visitors    636 non-null object
Month                 636 non-null object
dtypes: float64(3), object(3)
memory usage: 29.9+ KB

In [24]:
BCN_2018= BCN_2018.rename(columns = {"Number of visitors": "Number"})

In [25]:
BCN_2018

,Country,Unnamed: 1,Unnamed: 2,Unnamed: 3,Number,Month
0,Number of visitors,NaN,NaN,NaN,507.318,January
1,residents a Espanya,NaN,NaN,NaN,126.214,January
2,residents a l'estranger,NaN,NaN,NaN,381.104,January
3,Alemanya,NaN,NaN,NaN,24.885,January
4,Àustria,NaN,NaN,NaN,2.705,January
5,Bèlgica,NaN,NaN,NaN,8.075,January
6,Bulgària,NaN,NaN,NaN,575,January
7,Xipre,NaN,NaN,NaN,244,January
8,Croàcia,NaN,NaN,NaN,499,January
9,Dinamarca,NaN,NaN,NaN,3.653,January
10,Eslovàquia,NaN,NaN,NaN,642,January
11,Eslovènia,NaN,NaN,NaN,260,January
12,Estònia,NaN,NaN,NaN,282,January
13,Finlàndia,NaN,NaN,NaN,2.113,January
14,França,NaN,NaN,NaN,47.337,January
15,Grècia,NaN,NaN,NaN,2.303,January
16,Hongria,NaN,NaN,NaN,1.171,January
17,Irlanda,NaN,NaN,NaN,5.207,January
18,Itàlia,NaN,NaN,NaN,36.185,January
19,Letònia,NaN,NaN,NaN,543,January
20,Lituània,NaN,NaN,NaN,707,January
21,Luxemburg,NaN,NaN,NaN,279,January
22,Malta,NaN,NaN,NaN,109,January
23,Països Baixos,NaN,NaN,NaN,13.223,January
24,Polònia,NaN,NaN,NaN,4.770,January
25,Portugal,NaN,NaN,NaN,7.352,January
26,Regne Unit,NaN,NaN,NaN,34.574,January
27,República Txeca,NaN,NaN,NaN,1.329,January
28,Romania,NaN,NaN,NaN,2.139,January
29,Suècia,NaN,NaN,NaN,5.744,January
...,...,...,...,...,...,...
606,Països Baixos,NaN,NaN,NaN,11.126,December
607,Polònia,NaN,NaN,NaN,3.582,December
608,Portugal,NaN,NaN,NaN,8.436,December
609,Regne Unit,NaN,NaN,NaN,41.297,December
610,República Txeca,NaN,NaN,NaN,1.755,December
611,Romania,NaN,NaN,NaN,2.869,December
612,Suècia,NaN,NaN,NaN,5.776,December
613,Resta Unió Europea,NaN,NaN,NaN,1.914,December
614,Islàndia,NaN,NaN,NaN,278,December
615,Liechtenstein,NaN,NaN,NaN,25,December
616,Noruega,NaN,NaN,NaN,2.649,December
617,Rússia,NaN,NaN,NaN,10.146,December
618,Suïssa,NaN,NaN,NaN,7.148,December
619,Turquia,NaN,NaN,NaN,2.016,December
620,Ucraïna,NaN,NaN,NaN,1.961,December
621,Resta d'Europa,NaN,NaN,NaN,8.833,December
622,Argentina,NaN,NaN,NaN,3.840,December
623,Brasil,NaN,NaN,NaN,6.029,December
624,Canada,NaN,NaN,NaN,4.111,December
625,Estats Units,NaN,NaN,NaN,39.373,December
626,Mèxic,NaN,NaN,NaN,3.082,December
627,Resta d'Amèrica,NaN,NaN,NaN,14.416,December
628,Sud-àfrica,NaN,NaN,NaN,913,December
629,Resta d'Àfrica,NaN,NaN,NaN,8.563,December
630,Japó,NaN,NaN,NaN,13.932,December
631,Xina,NaN,NaN,NaN,11.208,December
632,Corea Del Sud,NaN,NaN,NaN,7.394,December
633,Resta d'Àsia,NaN,NaN,NaN,28.797,December
634,Austràlia,NaN,NaN,NaN,3.704,December
635,Resta del món,NaN,NaN,NaN,25.223,December

#### Deleting Nan values

In [26]:
BCN_2018 = BCN_2018.drop(["Unnamed: 1", "Unnamed: 2", "Unnamed: 3"], axis=1)

#### changing number of visitors to float

In [29]:
BCN_2018 = BCN_2018.astype({"Number": float})

In [41]:
BCN_2018.head()
BCN_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 3 columns):
Country    636 non-null object
Number     636 non-null float64
Month      636 non-null object
dtypes: float64(1), object(2)
memory usage: 15.0+ KB

In [32]:
BCN_2018.to_csv("BCN_2018_CLEAN.csv")

## import to database

In [33]:
from sqlalchemy import create_engine
import pymysql

In [34]:
driver = "mysql+pymysql"
user = "root"
password = "Ir0nhack"
ip = "35.192.169.188"
database = "Project_2"

In [35]:
connection_string = f"{driver}://{user}:{password}@{ip}/{database}"

In [36]:
engine = create_engine(connection_string)

In [38]:
BCN_2018.to_sql("BCN_2018", engine)

ValueError: Table 'BCN_2018' already exists.